# Test mariadb replication
#
# docker-compose up --no-start
# docker-compose start mariadb-master
# docker-compose exec mariadb-master backup-master
# (cd testdata/master/snapshots/snapshot-`date +%Y%m%d`; sudo tar cf - *) | \
#   (sudo mkdir -p testdata/slave/data; cd testdata/slave/data; sudo tar xf - && sudo chown -R 999:999 .)
# docker-compose start mariadb-slave
# docker-compose exec mariadb-slave start-slave
#
# Show status
# docker-compose exec mariadb-master show-status
# docker-compose exec mariadb-slave show-status

version: "3.3"

services:
  mariadb-master:
    container_name: mariadb-master
    image: yidigun/mariadb-replication:10.7-focal
    restart: unless-stopped
    hostname: mariadb-master
    ports:
      - "3306:3306/tcp"
    environment:
      - TZ=Asia/Seoul
      - LANG=ko_KR.UTF-8
      - REPL_MODE=master
      - REPL_SERVER_ID=1
      - REPL_USERNAME=repl
      - PASSWORD_SECRET=passwords
    volumes:
      - ${PWD}/testdata/master/data:/var/lib/mysql
      - ${PWD}/testdata/master/log:/var/log/mysql
      - ${PWD}/testdata/master/run:/run/mysqld
      - ${PWD}/testdata/master/snapshots:/snapshots
    secrets:
      - passwords

  mariadb-slave:
    container_name: mariadb-slave
    image: yidigun/mariadb-replication:10.7-focal
    restart: unless-stopped
    hostname: mariadb-slave
    ports:
      - "13306:3306/tcp"
    environment:
      - TZ=Asia/Seoul
      - LANG=ko_KR.UTF-8
      - REPL_MODE=slave
      - REPL_SERVER_ID=2
      - REPL_USERNAME=repl
      - REPL_MASTER_HOST=mariadb-master
      - REPL_MASTER_PORT=3306
      - PASSWORD_SECRET=passwords
    volumes:
      - ${PWD}/testdata/slave/data:/var/lib/mysql
      - ${PWD}/testdata/slave/log:/var/log/mysql
      - ${PWD}/testdata/slave/run:/run/mysqld
    depends_on:
      - mariadb-master
    secrets:
      - passwords

secrets:
  passwords:
    file: ${PWD}/passwords.sh
